/* custom overrides */

/* navigation */
.navbar-light.header-transparent.bg-inverse {
    background: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #336699 !important;
    font-size: 1.2em;
}
.navbar-light.header-transparent.bg-inverse.sticky-header {
    background: #fff !important;
}
.navbar-nav .nav-link {
    text-transform: none;
}
.nav-link:hover {
    color: #336699 !important;
}
.nav-link:focus {
    color: #336699 !important;
}
.navbar {
    padding: 0rem 0rem; 
}
.navbar-light .navbar-toggler {
    margin-top: 10px;
}
/* hero */
.hero {  
    height: 85%;
}
.hero h1 {
    font-size: 3rem;
}
.section-title h4:after {
    content: "";
    width: 0px;
    height: 0px;
}
.section-title h4 {
    text-transform:none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Exo, sans-serif;
}
a {
    color: #336699;
    text-decoration: none;
}
.a-white {
    color: #fff;
}
.p-bio {
    font-size: 1.1rem;
}
.text16 {
    font-size: 1.1rem;
}
.text20{
    font-size: 2.0rem;
}
.text-medium {
    font-size: 18px;
    line-height: 22px;
}
.text-white {
    color: #fff;
}
.person-content span {
    font-size: 16px;
}
.fun-facts p {
    color: #000;
    opacity: .8;
}
.bg-primary {
    background: #336699 !important;
    border-color: #336699;
}
/* footer */
.back-to-top {
    background: #336699;
}
/* container content */
@media (min-width: 1200px){
    .container-content {
        width: 100%;
        max-width: 100%;
    }
    .img-50 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .img-77 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 77%;
    }
}
